<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>SinkTravel</title>
</head>
<body>
  <nav>
    <h1>SinkTravel</h1>
    <% if (user) { %>
  <p>Здравствуйте, <%= user.username %>! <button onclick="window.location.href='/logout'">Выйти</button></p>
<% } else { %>
  <p><button onclick="window.location.href='/login'">Войти</button></p>
<% } %>
  </nav>
  <table>
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Длительность (дней)</th>
        <th>Город</th>
        <th>Отель</th>
        <th>Клиент</th>
        <% if (user && user.role === 'admin') { %>
          <th colspan="2">Действия</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% tours.forEach(tour => { %>
        <tr>
          <td><%= tour.name %></td>
          <td><%= tour.description || 'Нет описания' %></td>
          <td><%= tour.price.toFixed(2) %></td>
          <td><%= tour.duration %></td>
          <td><%= tour.City.name %></td>
          <td><%= tour.Hotel.name %></td>
          <td><%= tour.Client ? tour.Client.name : 'Не указан' %></td>
          <% if (user && user.role === 'admin') { %>
            <td>
              <form action="/delete-tour/<%= tour.id %>" method="POST" style="display:inline; border: none;">
                <button type="submit">Удалить</button>
              </form>
            </td>
            <td><button onclick="window.location.href='/edit-tour/<%= tour.id %>'">Изменить</button></td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% if (user && user.role === 'admin') { %>
    <div class="buttons">
      <button onclick="window.location.href='/add-tour'">Добавить тур</button>
      <button onclick="window.location.href='/add-city'">Добавить город</button>
      <button onclick="window.location.href='/add-hotel'">Добавить отель</button>
      <button onclick="window.location.href='/add-client'">Добавить клиента</button>
    </div> 
  <% } %>
</body>
</html>
